<div class="jumbotron text-center">
    <div id="overlay-color"></div>
    <div id="jumboback"></div>
    <div id="heading">
        <h1>Test</h1>
        <p>Testing</p>
        <button class="scraper">Scrape Now!</button>
    </div>

</div>

<div class="container-fluid article-place">
    <div id="articles">
    </div>
    <div id="notes">
    </div>
</div>